$negro = #111
$negroCabecera = #3b5997 //#d02e10
$colorBarras = #444
$blanco = #fff
$azul = #2973CA


//AQUI VARIABLES QUE VAN EN LA APLICACION DE ACUERDO A SU USO
$desabilitado = #fef5ea
$textoSistema = 9px
$textoDinero = 10px
$sizeimput = 25px
$sizegroup = 24px

.cargo{
	color blue
}

.sistema{
	font-size 14px
	font-weight bold
}

.menu{
	font-size $textoSistema
}

#usuario{
	padding-left 15px
}
#inputFileCurso
	display none

.modal_largo
	width: 80% !important;

.copy
	margin-top 8px
	position relative
	text-align center
	font-size $textoSistema

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
	padding-right 5px
	padding-left 5px

.input-group.date .input-group-addon span
	height 12px

.panel-heading
	font-weight bold

.row
	margin-bottom 5px

.intercalado
	background #F5F5F5

.titulo
	font-weight bold

body
	font-size $textoSistema

.texto
	padding-top 6px

.textoNegrita
	padding-top $textoSistema
	font-weight bold

.negrita
	font-weight bold

.centrado
	text-align center

#greportes
	text-align center

.divScroll
	overflow-xhidden "overflow-yscroll"
	width 100%
	height 660px

.panel-heading
	.accordion-toggleafter
		/* symbol for "opening" panels */
		font-family 'Glyphicons Halflings'  /* essential for enabling glyphicon */
		content "\e080"    /* adjust as needed, taken from bootstrap.css */
		float right        /* adjust as needed */
		color grey         /* adjust as needed */

.panel-heading
	.accordion-toggle
		.collapsedafter
			/* symbol for "collapsed" panels */
			content "\e114"    /* adjust as needed, taken from bootstrap.css */

.presupuesto
	font-size $textoSistema

.bloqueado
	background-color #ffffff

.panel-body
	padding 3px

.login
	padding 20px

.panel-heading
	padding 5px 5px

.btn-group-sm>.btn, .btn-sm
	font-size $textoSistema
	padding: 4px 10px;

.input-group-addon
	padding: 3px 12px;

.input-sm
	height $sizeimput
	font-size $textoSistema
	padding 5px 5px

select.input-sm
		height $sizeimput
		font-size $textoSistema
		padding 5px 1px

textarea.form-control
		font-size $textoSistema
		padding 5px 5px


.btn-xs,.btn-group-xs>
	.btn
		font-size $textoSistema

.row
	margin-bottom 3px
	margin-right 0px
	margin-left 0px

.panel
	margin-bottom 5px

.form-control[disabled]
	background-color $desabilitado

.peq
	padding 0px 5px

.btnBuscar
	padding 0px 6px
	font-size $textoSistema
	border-color #eee
	background-color #eee

.descripcion
	background #555

.anio
	font-size 15px

.centro
	text-align center

.izquierda
	text-align left

.derecha
	text-align right
	padding-right 15px

.dinero
	font-size $textoDinero

.celdamarcada
	background #F2F2F2
	font-weight bold

span
	font-size $textoSistema

.celdaCurso
	padding-left 1px
	padding-right 1px

.celdaCursoI
	padding-right 1px

.formulario
	background #F2F2F2

.areabotonesmenusup
	padding-top 50px
	padding-bottom 10px

.areabotonesmenumed
	padding-top 10px
	padding-bottom 10px

.areabotonesmenuinf
	padding-top 10px
	padding-bottom 50px

.botonesmenu
	padding 30px 10px
	font-size 30px

.ejecutadas
	color #d43f3a
	
.detalle_ejecutadas
	color #F78181

.detalle_color_verde
	color #088A08
	
.detalle_color_rojo
	color #F78181
	
.detalle_color_plomo
	color #333
	text-decoration line-through

.restos
	color #848484


.saldo_error
	color #d43f3a

.fondoheader
	background-color #337ab7
	color #FFF
	font-weight bold
	
#fixedtableheader0 .fondoheader
	background-color #337ab7
	color #FFF
	font-weight bold
	
/* BARRA DE PRESUPUESTER */

.header-fixed
	width 100%

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td
	display block

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after
	content ' '
	display block
	visibility hidden
	clear both

.header-fixed > tbody
	overflow-y auto
	height 250px

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th
	float left


/* FINAL DE BARRA */

.textoSistema
	font-size $textoSistema
	font-family "Helvetica Neue",Helvetica,Arial,sans-serif
	font-weight bold

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding 2px;
}

.reportePresupuesto
	font-size 11px

.celdaPresupuesto
	//width 90px


.nav-tabs li.disabled { color: grey; }
.nav-tabs li.disabled a:hover { border-color: transparent; }

.opcionPositivo
	background-color #9FF781

.saldo
	/*font-size 12px*/
	color #0431B4


.formatoPin
	background-color #81BEF7

.formatoAct
	background-color #01DFA5
	
.formatOep
	background-color #FE9A2E


.semaforo_verde
	background-color #3ADF00
.semaforo_rojo
	background-color #FA8072
.semaforo_ambar
	background-color #FFE4B5
	
.semaforo_final
	background-color #D8D8D8

.botonGrande
	font-size 15px
	font-weight bold
	
.botonMenu
	height 200px
	width 250px
	font-size 25px

.textoMenu
	font-size 12px

.sinlinea
	border-color #FFFFFF
	
.botonSeguimiento
	height 80px
	width 200px
	border-radius 10px

.celdavacia
	height 20px

